.MyTable {
  height: 100%;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  width: 100%;
  float: left;
}

.MyTable td {
  color: black;
  padding: 4px;
  font-family: 'Open Sans', sans-serif;
}

.Danger:hover {
  background-color: red; 
}

.Edit:hover {
  background-color: rgb(250, 233, 77);
}

.Success:hover {
  background-color: rgb(100, 214, 72);
}
